body{
    background-image: url("/geometric-leaves.png");
    margin:95px 385px;
}
#tab1{
    background: #a59f9f88;
    width:350px;
    height:310px;
    padding: 75px;
}
input{
    width:290px;
    height:30px;
    border-radius: 10px;
}
button{
    width: 100px;
    height:30px;
    border-radius: 10px;
    float:right;
    margin: 50px auto;
    background-color: #a59f9f88;
}